<main>
    <section id="carousel" class="banner banner-car">
      
      <div class="container-grid position-banner">
        <div class="image_banner">
        </div>
        <div class="text-banner">
          <h1>Liga E-Players</h1>
          <p>O maior portal de  campeonato online</p>
           <a href="">Inscreva-se</a> 

        </div>
      </div>

    </section>
    <section class="games">
      <div class="position-games container d-flex justify-content-between align-items-center">
        <img src="assets/img/f1.png" alt="logo do formula 1">
        <img src="assets/img/legends.png" alt="logo do league legends">
        <img src="assets/img/Counter-Strike.png" alt="strikelogo do counter ">
        <img src="assets/img/valorant.png" alt="logo do valorante">
        <img src="assets/img/fifa.png" alt="logo do fifa">
      </div>
      
    </section>
   
  <div class="position-cards">
  <div class="position-cards container d-flex justify-content-between align-items-center">
    <img id="img" class="mt-5 mb-5" src="assets/img/callduty.png" alt="jogo callduty">
    <img id="img" class="mt-5 mb-5" src="assets/img/medded.png" alt="logo do league legends">
    <img id="img" class="mt-5 mb-5" src="assets/img/cars.png" alt="strikelogo do counter ">
    <img id="img" class="mt-5 mb-5" src="assets/img/bioshock2.png" alt="logo do valorante">
    </div>
    <div>
    <div class="position-cards container d-flex justify-content-between align-items-center">
    <img id="img" class="mt-5 mb-5" src="assets/img/herow2.png" alt="logo do fifa">
    <img id="img" class="mt-5 mb-5" src="assets/img/bioshock2.png" alt="logo do fifa">
    <img id="img" class="mt-5 mb-5" src="assets/img/resident.png" alt="logo do fifa">
    <img id="img" class="mt-5 mb-5" src="assets/img/herrw.png" alt="logo do fifa">
    </div>
  </div>
  <!-- </main> -->
  <div class="textcars-banner">
    <div class="textcars">
    </div>
  </div>