<main class="main-content main-content-bg mt-0">
    <div class="banner-lol page-header min-vh-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 mt-5">
                    <div class="card border-0 mb-0">
                        <div class="card-header bg-transparent">
                            <h5 class="text-dark text-center mt-2 mb-3">Bem vindo!</h5>

                        </div>
                        <div class="card-body px-lg-5 pt-0">

                            <form #userForm="ngForm" (ngSubmit)="onSubmit()" class="text-start">
                                <div class="input-group mb-3">
                                    <label for="email">E-mail:</label>
                                <input class="input-group-text" type="email"
                                [(ngModel)]="userModel.email" name="email">
                                </div>
                                <div class="input-group mb-3">
                                    <label for="password">Senha:</label>
                                <input class="input-group-text" type="password" 
                                [(ngModel)]="userModel.password" name="password">
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="rememberMe">
                                    <label class="form-check-label" for="rememberMe">Lembrar</label>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary w-100 my-4 mb-2">Entrar</button>
                                </div>

                            </form>
                            <div class=" col-12 mt-1 d-flex justify-content-between">
                        <div class="col-6 text-right d-flex justify-content-sm-start">
                            <a href="" class="text-black-50"><small>Recuperar Senha</small></a>
                        </div>
                        <div class="col-6 text-right d-flex justify-content-end">
                            <a class="text-black-50"><small>Criar uma Conta</small></a>
                        </div>
                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>