<footer class="footer-content" style="background:#010101;">
    <div class="container-fluid d-lg-flex text-lg-center text-center justify-content-between w-100">

         <ul class="mt-4 p-3 p-lg-0 ml-0" style="text-decoration: none;">
            <h3 class="text-white">Links úteis</h3>
            <div class="p-lg-1 text-sm"><a class="text-white" style="text-decoration: none;" href="">Regras de utilização</a></div>
            <div class="p-lg-1 text-sm"><a class="text-white" style="text-decoration: none;" href="">Suporte</a></div>
            <div class="p-lg-1 text-sm"><a class="text-white" style="text-decoration: none;" href="">Central de ajuda</a></div>
            <div class="p-lg-1 text-sm"><a class="text-white" style="text-decoration: none;" href="">Contato</a></div>
        </ul>
        <ul class="mt-4 p-0 mb-4">
          <h3 class="text-white">Páginas</h3>
          <div class="p-lg-1 text-sm"><a class="text-white" style="text-decoration: none;" href="">Inicio</a></div>
          <div class="p-lg-1 text-sm"><a class="text-white" style="text-decoration: none;" href="">Campeonatos</a></div>
          <div class="p-lg-1 text-sm"><a class="text-white" style="text-decoration: none;" href="">Noticias</a></div>
          <div class="p-lg-1 text-sm"><a class="text-white" style="text-decoration: none;" href="">Login/Cadastro</a></div>
        </ul>
        <ul class="mt-4 p-0 mb-4">
          <div class="p-lg-1 text-sm"><a class="text-white" href=""><img src="assets/img/Logo E-Players.png" alt=""></a></div>
          <div class="p-lg-1 text-sm"><a class="text-white" style="text-decoration: none;" href="">avenida Paulista, 000</a></div>
          <div class="p-lg-1 text-sm"><a class="text-white" style="text-decoration: none;" href="">São Paulo-SP</a></div>
          <div class="p-lg-1 text-sm"><a class="text-white" style="text-decoration: none;" href="">55 5555-5555</a></div>
          <div></div>
          <div class="p-lg-1 text-sm"><a class="text-white" style="text-decoration: none;" href="">CNPJ-11.111.111/0001-01</a></div>
        </ul>
        <ul class="mt-2 p-4 mb-4">
          <p class="text-white">Faça parte de nosso clan, assine nossa newsletter</p>
          <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="E-mail" aria-label="Search" aria-describedby="search-addon" />
            <button type="button" class="btn text-white" style="background: #001F70;">Cadastrar</button>
            
          </div>
          <div class="d-inline-flex mt-4 container justify-content-between">
            <h4 class="text-white mt-2 mr-2">Siga-nos em:</h4>
            <a class="text-white" style="text-decoration: none;" href=""><img src="assets/img/instagram.png" alt=""></a>
            <a class="text-white" style="text-decoration: none;" href=""><img src="assets/img/facebook.png" alt=""></a>
            <a class="text-white" style="text-decoration: none;" href=""><img src="assets/img/yutube.png" alt=""></a>

          </div>
        </ul>

    </div>
</footer>

