<main class="main-content main-content-bg mt-0">
    <div class="banner-lol page-header min-vh-100">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-4 col-md-5 mt-5">
                    <div class="card border-0 mb-0" style="background-color: #1e1c21;">
                        <div class="card-header bg-transparent mb-4 mt-4">
                            <h5 class="text-white text-center mt-2 mb-3">Horários</h5>
  
                        </div>
                        <div class="card-body px-lg-5 px-4 pt-0">
  
            
                            <div class=" col-12 mt-1 d-flex justify-content-between">
                        
                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </main>